.content-container {
    padding-top: 1rem;
}

.heading {
    display: flex;
    align-items: center;
    height: 12vh;
}

.greeting {
    text-align: center;
}

@media(min-width: 992px) {
    .main-container-visit {
        height: calc(100vh - 72px - 1rem - 48px - 1rem - 10vh);
    }
}